
<div id="products-list">
  <h3>Sinatra Store Products</h3>
  <div class="span4"> 
    <div id="confirm">
      <h4>Product <%= @name %> has been <%= @action %></h4>
        <a class="btn edit" href="/products">Back to Products</a>
    </div>
  </div>

  <%= erb :products_list %>
</div>