<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sinatra Store</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body class="home">
    <div class="main">
      <h1>Sinatra</h1>
      <p>The store of curiously random stuff</p>
      <img src="/images/logo.png" />
      <h2><a href="/users">Users</a>
      <a href="/products">Products</a></h2>
    </div>
    </div>
  </body>
</html>