<div class="container">
  <h3>Display Users or Products?</h3>
  <div class="buttons">
    <ul>
      <li><a class="btn btn-primary" href="/users">Users</a></li>
      <li><a class="btn btn-primary" href="/products">Products</a></li>
    </ul>
  </div>
</div>