<h1>New Product</h1>

<!-- 
<p>
  params[:product_name] = <% params[:product_name] %><br />
  params[:product_price] = <% params[:product_price] %></p>
 -->
<form action="/new_product" method="POST">
  <p>
    <label for='product_name'>Name:</label>
    <input type='text' name='product_name' />
  </p>
  <p>
    <label for='product_price'>Price:</label>
    <input type='text' name='product_price' />
  </p>
  <button>Save it!</button>
</form>